body {
    margin: 0;
    font-family: "arial", sans-serif;
    font-style: normal;
    line-height: 1.6;
}

table {
    margin: 20px;
    border-collapse: collapse;
    text-align: left;
}

th {
    text-align: center;
}

.border-bottom {
    border-bottom: 1px solid black;
}